$accent-color: #0CA941;

@import "./../../node_modules/bootstrap/scss/bootstrap";

@import "text";
@import "header";
@import "btn";


body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka', sans-serif;
}

.top-section {
  background-color: #eee;
  //padding: 0 0 40px;

  .content {
    padding-top: 50px;
    position: relative;
    padding-bottom: 120px;

    img {
      position: absolute;
      height: 100%;
      right: -175px;
      bottom: 0;
    }
  }

  h1 {
    margin: 0 0 39px;
    font-weight: 700;
  }

  p {
    color: #707070;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
  }


}

